@import "tailwindcss";

.color-gradient-2 {
  @apply bg-linear-5 via-gray-900 from-gray-800 to-black;
}

@theme {
  --animate-soft-intro: soft-intro 200ms ease-in-out;

  @keyframes soft-intro {
    from {
      opacity: 0;
      transform: translateY(12px) scale(0.98);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
